.ui-ctxMenu-box{position:absolute;visibility: hidden;}
.ui-ctxMenu-inner,.ui_ctxMenu_sub{position:absolute;background:#fff;border: 1px solid #ccc;box-shadow:1px 1px 3px #ccc;border-width:1px 1px 0 1px;}
.ui-ctxMenu-item{position:relative;border-bottom:1px solid #ccc;padding:3px 5px 3px 32px;cursor: pointer;}
.ui-ctxMenu-item.add{background:url(../img/add.gif) no-repeat 5px 50%;}
.ui-ctxMenu-item.edit{background:url(../img/edit.gif) no-repeat 5px 50%;}
.ui-ctxMenu-item.delete{background:url(../img/delete.gif) no-repeat 5px 50%;}
.ui-ctxMenu-item:hover{background-color:#99cccc;color:#FFFF00;}

.ui_ctxMenu_sub{display:none;min-width:100%;}
.ui_ctxMenu_sub li{background:#fff;color:#000;}