/*遮盖层*/
.ui_Mask_box{display:none;z-index:999;width:100%;height:100%;top:0;left:0;zoom:1;position:fixed;_position:absolute;}
.ui_Mask_box .mask_layer{position:fixed;_position:absolute;width:100%;height:100%;top:0;left:0;background-color: #000;filter:alpha(opacity=30);opacity:0.3;-moz-opacity:0.3;}
.ui_Mask_box.fullpage .mask_layer{}
.ui_Mask_box iframe.sel_hack_iframe{position:absolute;display:block;top:0;left:0;width:100%;height:100%;
	border:0;filter:alpha(opacity=0);}
.ui_Mask_box .loading_box{position:absolute;width:180px;/*overflow:auto;*/height:30px;line-height:30px;text-align:left;font-weight:bold;font-size:14px;background-color:#fff;
	border-radius:5px;padding:10px;top:50%;left:50%;margin-left:-100px;margin-top:-25px;}
.ui_Mask_box.fullpage	.loading_box{}
.ui_Mask_box .opacity_bg{background-color:#cedce9;}
.ui_Mask_box .ui_loading{text-align:center;padding-left:20px;background:url(../img/icon_loading.gif) no-repeat 0 8px;}

.ui_Mask_box .mask_container{}