
/* gradient */
.greenbtn{
	/*border:1px solid #467d01;
	box-shadow:inset 0 1px 1px #fff,0 0 1px #fff inset;
	
	text-shadow:0 -1px 0 rgba(0,0,0,0.5);*/
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	color:#fff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkxZDEyNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ZThiMDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #91d125 0%, #4e8b02 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#91d125), color-stop(100%,#4e8b02)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #91d125 0%,#4e8b02 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #91d125 0%,#4e8b02 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #91d125 0%,#4e8b02 100%); /* IE10+ */
	background: linear-gradient(top,  #91d125 0%,#4e8b02 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91d125', endColorstr='#4e8b02',GradientType=0 ); /* IE6-8 */	
	*background: #4e8b02; /* Old browsers */
}
.greenbtn:hover{
    color:#fff;
	filter:none;
	background:#70AF14;
}
.redbtn{
	/*border:1px solid #a40000;
	box-shadow:inset 0 1px 1px #fff,0 0 1px #fff inset;
	
	text-shadow:0 -1px 0 rgba(0,0,0,0.5);*/
	color:#fff;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMzMzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhNDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ff3333 0%, #a40000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3333), color-stop(100%,#a40000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff3333 0%,#a40000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff3333 0%,#a40000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff3333 0%,#a40000 100%); /* IE10+ */
	background: linear-gradient(top,  #ff3333 0%,#a40000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3333', endColorstr='#a40000',GradientType=0 ); /* IE6-8 */
	*background: #a40000; /* Old browsers */
}
.redbtn:hover{
    color:#fff;
	filter:none;
	background:#D51C1C;
}
.bluebtn{
	/*border:1px solid #196EBB;
	box-shadow:inset 0 1px 1px #fff,0 0 1px #fff inset;
	
	text-shadow:0 -1px 0 rgba(0,0,0,0.5);
	IE9 SVG, needs conditional override of 'filter' to 'none' */
	color:#fff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzczYzJmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZThjZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #73c2fd 0%, #2e8ce3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#73c2fd), color-stop(100%,#2e8ce3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #73c2fd 0%,#2e8ce3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #73c2fd 0%,#2e8ce3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #73c2fd 0%,#2e8ce3 100%); /* IE10+ */
	background: linear-gradient(top,  #73c2fd 0%,#2e8ce3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73c2fd', endColorstr='#2e8ce3',GradientType=0 ); /* IE6-8 */
	*background: #2e8ce3; /* Old browsers */
}
.bluebtn:hover{
    color:#fff;
	filter:none;
	background:#5DA7DB;
}
.orangebtn{
	/*border:1px solid #b05903;
	box-shadow:inset 0 1px 1px #fff,0 0 1px #fff inset;
	
	text-shadow:0 -1px 0 rgba(0,0,0,0.5);*/
	color:#fff;
	background: #ffcc00; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmY2MwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjdlMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffcc00 0%, #ff7e00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcc00), color-stop(100%,#ff7e00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffcc00 0%,#ff7e00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffcc00 0%,#ff7e00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffcc00 0%,#ff7e00 100%); /* IE10+ */
	background: linear-gradient(top,  #ffcc00 0%,#ff7e00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#ff7e00',GradientType=0 ); /* IE6-8 */
	*background:#ffcc00;
}
.orangebtn:hover{
    color:#fff;
	filter:none;
	background:#FF9E00;
}
.greybtn{
	/*border:1px solid #ccc;
	
	text-shadow:0 1px 0 rgba(255,255,255,0.8);
	box-shadow:inset 0 1px 1px #fff,0 0 1px #fff inset;*/
	color:#666;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */
	*background: #e5e5e5; /* Old browsers */
}
.greybtn:hover{
	background:#e6e6e6;
	color:#666;
	filter:none;
}
.blackbtn{
	/*border:1px solid #4c4c4c;
	box-shadow:inset 0 1px 1px #fff,0 0 1px #fff inset;
	
	text-shadow:0 -1px 0 rgba(0,0,0,0.5);*/
	color:#fff;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2JSIgc3RvcC1jb2xvcj0iIzg4ODc4NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk1JSIgc3RvcC1jb2xvcj0iIzJiMmIyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  #888787 6%, #2b2b2b 95%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(6%,#888787), color-stop(95%,#2b2b2b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #888787 6%,#2b2b2b 95%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #888787 6%,#2b2b2b 95%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #888787 6%,#2b2b2b 95%); /* IE10+ */
	background: linear-gradient(top,  #888787 6%,#2b2b2b 95%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888787', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-8 */
	*background:#2b2b2b;
}
.blackbtn:hover{
    background:#555;
	filter:none;
	color:#fff;
}
:root .greenbtn,
:root .redbtn,
:root .bluebtn,
:root .orangebtn,
:root .greybtn,
:root .blackbtn{
    filter: none;
}
/* btn */
.btn{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:0 10px;
	line-height:25px;
	display:inline-block;*display:inline;*zoom:1;
	font-size:14px;
	cursor: pointer;
	*border:none;
}
button.btn{*line-height:20px;}

.smallbtn{
	line-height:18px;
	padding:0 5px 0;
	font-size:12px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.largebtn{
	line-height:40px;
	font-size:18px;
	padding:0 40px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}
